@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.text-7xl {
  font-size: 72pt;
  line-height: 60pt;
}

.text-6xl {
  font-size: 60pt;
  line-height: 60pt;
}

.text-5xl {
  font-size: 48pt;
}

.text-4xl {
  font-size: 36pt;
  line-height: 40pt;
}

.text-3xl {
  font-size: 30pt;
  line-height: 36pt;
}

.text-2xl {
  font-size: 24pt;
  line-height: 32pt;
}

.text-xl {
  font-size: 20pt;
  line-height: 20pt;
}

.text-large {
  font-size: 18pt;
  line-height: 18pt;
}

.text-regular {
  font-size: 16pt;
  line-height: 16pt;
}

.text-small {
  font-size: 14pt;
  line-height: 14pt;
}

.text-tiny {
  font-size: 12pt;
  line-height: 12pt;
}

.pangea-blue-100 { color: #2A318A; }
.pangea-blue-50 { color: #2D35DC; }
.pangea-blue-15 { color: #8388F4; }
.pangea-blue-5 { color: #DFE0FF; }
.pangea-green-100 { color: #0D9146; }
.pangea-green-50 { color: #38C073; }
.pangea-green-15 { color: #66E39C; }
.pangea-green-5 { color: #7ABF8F; }
.turtlemoves-pink-100 { color: #EE0072; }
.turtlemoves-pink-50 { color: #E95DA0; }
.turtlemoves-pink-15 { color: #F490C0; }
.turtlemoves-pink-5 { color: #FFD7EA; }
.turtlemoves-purple-100 { color: #5A00EE; }
.turtlemoves-purple-50 { color: #A579EE; }
.turtlemoves-purple-15 { color: #B899EC; }
.turtlemoves-purple-5 { color: #E6D7FF; }
.pangea-gold-100 { color: #E5AF0A; }
.pangea-gold-50 { color: #FEC20B; }
.pangea-gold-15 { color: #F7DC8D; }
.pangea-gold-5 { color: #F9EED5; }
.pangea-black-100 { color: #262626; }
.pangea-black-50 { color: #908E8D; }
.pangea-black-15 { color: #DAD7D6; }
.pangea-black-5 { color: #F4F4F4; }

/* Background color classes */
.bg-pangea-blue-100 { background-color: #2A318A; }
.bg-pangea-blue-50 { background-color: #2D35DC; }
.bg-pangea-blue-15 { background-color: #8388F4; }
.bg-pangea-blue-5 { background-color: #DFE0FF; }
.bg-pangea-green-100 { background-color: #0D9146; }
.bg-pangea-green-50 { background-color: #38C073; }
.bg-pangea-green-15 { background-color: #66E39C; }
.bg-pangea-green-5 { background-color: #7ABF8F; }
.bg-turtlemoves-pink-100 { background-color: #EE0072; }
.bg-turtlemoves-pink-50 { background-color: #E95DA0; }
.bg-turtlemoves-pink-15 { background-color: #F490C0; }
.bg-turtlemoves-pink-5 { background-color: #FFD7EA; }
.bg-turtlemoves-purple-100 { background-color: #5A00EE; }
.bg-turtlemoves-purple-50 { background-color: #A579EE; }
.bg-turtlemoves-purple-15 { background-color: #B899EC; }
.bg-turtlemoves-purple-5 { background-color: #E6D7FF; }
.bg-pangea-gold-100 { background-color: #E5AF0A; }
.bg-pangea-gold-50 { background-color: #FEC20B; }
.bg-pangea-gold-15 { background-color: #F7DC8D; }
.bg-pangea-gold-5 { background-color: #F9EED5; }
.bg-pangea-black-100 { background-color: #262626; }
.bg-pangea-black-50 { background-color: #908E8D; }
.bg-pangea-black-15 { background-color: #DAD7D6; }
.bg-pangea-black-5 { background-color: #F4F4F4; }

/* Border color classes */
.border-pangea-blue-100 { border-color: #2A318A; }
.border-pangea-blue-50 { border-color: #2D35DC; }
.border-pangea-blue-15 { border-color: #8388F4; }
.border-pangea-blue-5 { border-color: #DFE0FF; }
.border-pangea-green-100 { border-color: #0D9146; }
.border-pangea-green-50 { border-color: #38C073; }
.border-pangea-green-15 { border-color: #66E39C; }
.border-pangea-green-5 { border-color: #7ABF8F; }
.border-turtlemoves-pink-100 { border-color: #EE0072; }
.border-turtlemoves-pink-50 { border-color: #E95DA0; }
.border-turtlemoves-pink-15 { border-color: #F490C0; }
.border-turtlemoves-pink-5 { border-color: #FFD7EA; }
.border-turtlemoves-purple-100 { border-color: #5A00EE; }
.border-turtlemoves-purple-50 { border-color: #A579EE; }
.border-turtlemoves-purple-15 { border-color: #B899EC; }
.border-turtlemoves-purple-5 { border-color: #E6D7FF; }
.border-pangea-gold-100 { border-color: #E5AF0A; }
.border-pangea-gold-50 { border-color: #FEC20B; }
.border-pangea-gold-15 { border-color: #F7DC8D; }
.border-pangea-gold-5 { border-color: #F9EED5; }
.border-pangea-black-100 { border-color: #262626; }
.border-pangea-black-50 { border-color: #908E8D; }
.border-pangea-black-15 { border-color: #DAD7D6; }
.border-pangea-black-5 { border-color: #F4F4F4; }